@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" id="success-message">
        @TempData["SuccessMessage"]
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const successMessage = document.getElementById("success-message");
            if (successMessage) {
                successMessage.style.transition = "opacity 1s";
                successMessage.style.opacity = 0;
                setTimeout(function () {
                    successMessage.style.display = "none";
                }, 1000);
            }
        }, 3000);
    });
</script>


@model MealPlanner.Models.RecipeViewModel

@{
    ViewData["Title"] = "Details";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Instructions)
        </dd>
    </dl>
</div>
<hr />
<partial name="_SubmitReview.cshtml" model="Model" />
@*<partial name="_Reviews.cshtml" model="Model" />*@
@if (Model.Reviews.Count > 0)
{
    foreach (var review in Model.Reviews)
    {
        <div>
            <p><span class="golden-star">@Html.Raw(new string('★', review.Rating))</span> - by @review.UserId.Split('@')[0]</p>
            <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger">@review.ReviewText</p>
            <hr>
        </div>
    }
}
else
{
    <p>No reviews yet.</p>
}

<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Recipe.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>