@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" id="success-message">
        @TempData["SuccessMessage"]
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const successMessage = document.getElementById("success-message");
            if (successMessage) {
                successMessage.style.transition = "opacity 1s";
                successMessage.style.opacity = 0;
                setTimeout(function () {
                    successMessage.style.display = "none";
                }, 1000);
            }
        }, 3000);
    });
</script>


@model IEnumerable<MealPlanner.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}



<h1>Your Recipes</h1><p>
    <a class="btn btn-primary" asp-action="Create">Create a new Recipe</a>
    <a class="btn btn-warning" asp-controller="Ingredients" asp-action="Index">See list of available Ingredients</a>
    <a class="btn btn-info" asp-action="BestRatedRecipe">Best Rated Recipe</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <strong> @Html.DisplayFor(modelItem => item.Name)</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                        <a class="btn btn-warning" href="@Url.Action("Details", new { id = item.Id })">Details</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                        <a class="btn btn-info" href="@Url.Action("SaveRecipeAsPdf", "Recipes", new { id = item.Id })">Save as PDF</a>
                     </div>
                </td>

        </tr>
}
    </tbody>
</table>
